.text-center {
  text-align: center;
}
.heading-text {
  font-weight: 300;
    margin-bottom: 15px;
    line-height: 40px;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 30px;
}
.span-text {
  font-weight: 700;
  /* line-height: 40px; */
  color: #ff4181;
  /* font-family: "Frank Ruhl Libre", serif; */
}   

