:root {
  --color-orange: #ff5300;
  --color-orange-v2: #fff7f4;
  --color-black: #373737;
  --color-dark: #18191a;
  --color-dark-v1: #242526;
  --color-dark-v2: #3a3b3c;
  --color-gray: #7b7b7b;
  --color-white: #ffffff;
}
