.h1 {
  font-size: 30px;
}

.h2 {
  font-size: 25px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.h5,
.h6,
.h7 {
  font-size: 12px;
}

@media (min-width: 768px) {
  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 30px;
  }

  .h3 {
    font-size: 25px;
  }

  .h4 {
    font-size: 20px;
  }

  .h5 {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 40px;
  }

  .h3 {
    font-size: 30px;
  }

  .h4 {
    font-size: 25px;
  }

  .h5 {
    font-size: 20px;
  }
}
