.home {
    padding: 0 15px;
    font-family: "Frank Ruhl Libre", serif;

}

.static-text {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0;

}

.dynamic-text {
    padding: 0;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    margin-top: 0px;
}

.dynamic-text li {
    list-style: none;
    font-size: 42px;
    font-weight: 700;
    position: relative;
    top: 0;
    animation: slide 8s steps(4) infinite;
    color: black;

}

@keyframes slide {

    100% {
        top: -200px;
    }
}

.dynamic-text li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: typing 2s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(50% + 28px);
    }

    100% {
        left: 0;
    }
}
.banner-btn-1 {
    margin-top: 20px;
    margin-bottom: 70px;
}