.app-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efefef;
}

.app-header .app-mobile-close {
  padding: 10px;
}

.app-header .desktop-nav {
  flex: 1;
  display: none;
}

@media (min-width: 768px) {
  .app-header {
    padding: 28px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #efefef;
  }

  .app-header .desktop-nav {
    display: block;
  }

  .app-header .app-mobile-menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .app-header {
    padding: 25px 135px;
  }
}
