@import './styles/bg-utils.css';
@import './styles/border-utils.css';
@import './styles/color-utils.css';
@import './styles/utils.css';
@import './styles/variables.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
